.Profile {
    width: 100%;
    min-height: 80px;
    color: white;
    background-color: #24292eef;

    a {
        color: white;
        text-decoration: none;
    }

    .profil-image {
        margin-left: 15px;
        margin-top: 5px;
        margin-bottom: 5px;
        height: 70px;
        width: 70px;
        float: left;
    }

    .username {
        float: left;
        margin-top: 30px;
        margin-left: 10px;
    }

    #popover-basic {
        color: black;
        height: 140px;
    }
}