@import '../../styles/colors';

.RepoDetailedInfo{
  hr{
    height: 1px;
    background-color: white;
    color: white;
    margin: 1% auto;
    width: 40%;
  }

  .detailed-repo{
    width: 90%;
    background-color: $background-color;
    color: white;
    border: 1px solid $background-color;
    border-radius: 5px;
    margin: 2% auto;
  }
}